<h2 id="title">"Moochee Friend: Keep Track Of Who Borrowed What."</h2>
<h4><em>Devleoped using Ember.js - Ben McLean</em></h4>
<hr />
{{partial 'partials/header'}}
<hr />
  <div class="row">
    <div class="full">
      {{outlet}}
    </div>
  </div>
