<h2 id="title">"Moochee Friend"</h2>
<h3>Keep Track Of Who Borrowed What</h3>
<h5><em>Devleoped using Ember.js - Ben McLean</em></h5>
{{partial 'partials/header'}}
  <div class="row">
    <div class="full">
      {{outlet}}
    </div>
  </div>
